.app__description-item {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    box-shadow: none;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    img {
        width: 134px;
        height: 134px;
        border-radius: 10%;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        min-height: 450px;

        img {
            width: 150px;
            height: 150px;
        }
    }

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;;
    }
}

.app__description-content {
    flex: 1;
    height: 100%;

    padding: 1rem 2rem;
    //text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        color: var(--black-color);
        font-family: var(--font-base);
    }

    h4 {
        font-weight: 600;
        color: var(--secondary-color);
        margin-top: 2rem;
    }

    h5 {
        font-weight: 400;
        color: var(--gray-color);
        margin-top: 5px;
    }
}

.title-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .price {
        width: 28%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h5 {
            text-decoration: line-through;
        }
    }
}

.block-point {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    

    img {
        align-items: center;
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
}

.parrafo-testimonial {
    text-align: justify;
}