.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 6rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;

  @media screen and (max-width: 800px) {
    padding: 1rem 1rem;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 120px;
    height: 30px;

    //Pantallas grandes
    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 30px;
    }
    //Dispositivos moviles
    @media screen and (max-width: 800px) {
      width: 100px;
      height: 30px;
    }
    
  }
}

.app__navbar-brands {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 30px;
    margin-left: 1rem;
    
    //Pantallas grandes
    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
    //Dispositivos moviles
    @media screen and (max-width: 800px) {
      width: 70px;
      height: 25px;
    }
  }
}

